
.star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../img/etoile1.png');
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 9999999;
}
