body {
    background-color: #c29e59 !important;
}

.style-navbar {
    background: #1d3754 !important;
}

.text-light {
    color: #fff !important;
}

.ctn-video {
    width: 100%;
    position: absolute;
}

.pb-20 {
    padding-top: 20rem;
}

.style-title {
    position: relative;
    left: 250px;
    top: 150px;
}
