body {
    background-color: #08182b !important;
}

.style-navbar {
    background: #0d2745 !important;
}

.text-light {
    color: #fff !important;
}

.ctn-video {
    width: 100%;
}

.style-title {
    position: relative;
    left: 250px;
    top: 150px;
}

.text-paillete {
    background: url("../img/paillette.jpg");
    background-clip: text; /* Limiter l'image de fond à la zone de texte */
    color: transparent;
}

.mt-100 {
    margin-top: 100px;
}

.star-color {
    color: #95713b !important;
}

.fs-16 {
    font-size: 16px !important;
}
