body {
    background-color: #08182b !important;
}

.style-navbar {
    background: #0d2745 !important;
}

.text-light {
    color: #fff !important;
}

.ctn-video {
    width: 100%;
}

.style-title {
    position: relative;
    left: 250px;
    top: 150px;
}

.text-paillete {
    background: url("../img/paillette.jpg");
    background-clip: text; /* Limiter l'image de fond à la zone de texte */
    color: transparent;
}

.mt-100 {
    margin-top: 100px;
}

.star-color {
    color: #95713b !important;
}

.fs-16 {
    font-size: 16px !important;
}

.bg-blue {
    background-color: #0f2949;
}

/* partenaire */

.gallery {
    position: relative;
    left: 500px;
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }

    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-body,
.Modal_holder,
tbody {
    background-color: #08182b;
}

#closeButton {
    background-color: #08182b;
    color: #fff;
}

.modal-header,
.modal-footer {
    background-color: #0f2949;
}
.Modal_holder {
    background: #08182b;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.Modal_td {
    border-bottom: 1px solid #f6f6f6;
    padding: 5px 10px;
}

.Modal_td:nth-child(2) {
    text-align: right;
    width: 40px;
}

.Modal_tr:last-child td {
    border: none;
    padding: 30px 10px 10px;
}

.Modal_input[type="checkbox"] {
    cursor: pointer;
    height: 30px;
    margin: 4px 0 0;
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 2;
}

.Modal_input[type="checkbox"] + span {
    background: #0f2949;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 30px;
    margin: 4px 0 0;
    position: relative;
    width: 30px;
    transition: all 0.2s ease;
}

.Modal_input[type="checkbox"] + span::before,
.Modal_input[type="checkbox"] + span::after {
    background: url("../img/paillette.jpg");
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    transition: all 0.2s ease;
}

.Modal_input[type="checkbox"] + span::before {
    height: 16px;
    left: 13px;
    top: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.Modal_input[type="checkbox"] + span::after {
    height: 16px;
    right: 13px;
    top: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Modal_input[type="checkbox"]:checked + span {
    background: #0f2949;
}

.Modal_input[type="checkbox"]:checked + span::before {
    height: 9px;
    left: 9px;
    top: 13px;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
}

.Modal_input[type="checkbox"]:checked + span::after {
    height: 15px;
    right: 11px;
    top: 8px;
}

.Modal_input[type="submit"] {
    background-color: #0f2949;
    border: 0;
    border-radius: 4px;
    color: url("../img/paillette.jpg");
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 12px 20px 14px;
}

.btn-plus {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.fs-style {
    font-size: 25px !important;
    font-weight: bold !important;
    /* margin-bottom: 16px; */
    margin-top: -8px !important;
    margin-left: 7px !important;
    color: white;
}
